<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <ul class="navbar-nav d-inline">
    <li class="nav-item d-inline">
        <a routerLink="employees" routerLinkActive="active"  class="nav-link"><b>Employee List</b></a>
    </li>
    <li class="nav-item d-inline"  >
        <a  routerLink="createemployee" routerLinkActive="active"  class="nav-link"><b>Add Employee</b> </a>
    </li>
    </ul>
  </nav>


<div class="container">
         


</div>
<router-outlet></router-outlet>

<footer class="footer">
<div class="container">
    <span>All Rights Reserved 2022@Vaibhav Pandey</span>
</div>
</footer>